nodered/flows.json
[{"id":"923fe3cf.4b9168","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"22918c0f.6499fc","type":"tab","label":"Database","disabled":false,"info":""},{"id":"26877e36.3457f2","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"5a574758.0a7538","type":"tab","label":"API","disabled":false,"info":""},{"id":"e8ef88dd.6232c","type":"ui_tab","z":"","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false},{"id":"f81d9d0c.841178","type":"ui_group","z":"","name":"Publish","tab":"e8ef88dd.6232c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1385c99f.2a21ae","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":50,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eadc00db.1d5848","type":"mqtt-broker","z":"","name":"Local Broker","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5a720a79.3d725c","type":"ui_group","z":"","name":"Subscription","tab":"e8ef88dd.6232c","order":2,"disp":true,"width":"12","collapse":false},{"id":"6a51dfe7.0d3138","type":"ui_tab","z":"","name":"Database","icon":"dashboard","disabled":false,"hidden":false},{"id":"2134ec19.8f24ac","type":"ui_group","z":"","name":"Add","tab":"6a51dfe7.0d3138","disp":true,"width":"6","collapse":false},{"id":"f6a20c00.1ac04","type":"mongodb2","z":"","uri":"mongodb://mongo:27017/test","name":"","options":"","parallelism":"-1"},{"id":"3012ffab.fc08f","type":"ui_group","z":"","name":"People list","tab":"6a51dfe7.0d3138","disp":true,"width":"10","collapse":false},{"id":"289f4250.e4a5d6","type":"ui_tab","z":"","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c8bfe63.32d378","type":"ui_group","z":"","name":"Snapshot","tab":"289f4250.e4a5d6","disp":false,"width":"13","collapse":false},{"id":"1c78a8a0.c3c2f7","type":"ui_group","z":"","name":"Properties","tab":"289f4250.e4a5d6","disp":true,"width":"10","collapse":false},{"id":"28e6dcdf.4469ac","type":"ui_group","z":"","name":"Settings","tab":"289f4250.e4a5d6","disp":true,"width":"6","collapse":false},{"id":"cd567b73.61fc98","type":"device-credentials","z":"","name":"Default ","protocol":"http"},{"id":"53d6aec6.d8164","type":"ui_form","z":"923fe3cf.4b9168","name":"","label":"","group":"f81d9d0c.841178","order":0,"width":"0","height":"0","options":[{"label":"Topic","value":"topic","type":"text","required":true,"rows":null},{"label":"Payload","value":"payload","type":"text","required":false,"rows":null}],"formValue":{"topic":"","payload":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":290,"y":80,"wires":[["fde4cb7e.c094f"]]},{"id":"fde4cb7e.c094f","type":"function","z":"923fe3cf.4b9168","name":"","func":"msg.topic = msg.payload.topic\nmsg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["2c760009.16b988"]]},{"id":"2c760009.16b988","type":"mqtt out","z":"923fe3cf.4b9168","name":"","topic":"","qos":"","retain":"","broker":"eadc00db.1d5848","x":590,"y":80,"wires":[]},{"id":"ef9a784e.fb87c8","type":"mqtt in","z":"923fe3cf.4b9168","name":"","topic":"#","qos":"2","datatype":"auto","broker":"eadc00db.1d5848","x":290,"y":140,"wires":[["f963e883.680828"]]},{"id":"b5b639f0.a9c18","type":"comment","z":"923fe3cf.4b9168","name":"Publish","info":"","x":130,"y":80,"wires":[]},{"id":"90be89a9.a5f968","type":"comment","z":"923fe3cf.4b9168","name":"Publish","info":"","x":130,"y":140,"wires":[]},{"id":"f963e883.680828","type":"ui_template","z":"923fe3cf.4b9168","group":"5a720a79.3d725c","name":"","order":1,"width":"12","height":"8","format":"<h3>Topic</h3>\n<div ng-bind-html=\"msg.topic\"></div>\n<h3>Payload</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":140,"wires":[[]]},{"id":"17a97e36.fc3332","type":"ui_form","z":"22918c0f.6499fc","name":"Add","label":"","group":"2134ec19.8f24ac","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"text","required":true,"rows":null}],"formValue":{"name":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":80,"wires":[["d33a2221.358e38"]]},{"id":"e8b2dac.c41cc28","type":"mongodb2 in","z":"22918c0f.6499fc","service":"_ext_","configNode":"f6a20c00.1ac04","name":"","collection":"people","operation":"insert","x":650,"y":80,"wires":[["60a70662.8282b"]]},{"id":"7ad303cc.59fb6c","type":"ui_button","z":"22918c0f.6499fc","name":"","group":"3012ffab.fc08f","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":180,"wires":[["60a70662.8282b"]]},{"id":"7b3891e.09b577","type":"ui_template","z":"22918c0f.6499fc","group":"3012ffab.fc08f","name":"","order":0,"width":"10","height":"8","format":"<style>\n    table { color: #333; font-family: Helvetica, Arial, sans-serif; width: 100%; border-collapse: collapse; border-spacing: 0; }\n    td, th { border: 1px solid transparent; height: 30px; text-align: left;}\n    th {  background: #DFDFDF; font-weight: bold;} \n    td {  background: #FAFAFA;}\n    i:hover { cursor:pointer; }\n</style>\n\n<form>\n    <span class=\"input-group\">\n        <i class=\"fa fa-search\"></i>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Search\" ng-model=\"search\">\n    </span>      \n</form>\n\n<table>\n    <thead>\n        <tr style=\"width:100%\">\n            <th><a href=\"#\" ng-click=\"sortType = 'name'; sortReverse = !sortReverse\">Name</a></th>\n            <th><a href=\"#\" ng-click=\"sortType = 'age';  sortReverse = !sortReverse\">Age</a></th>\n            <th></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"item in msg.list | orderBy:sortType:sortReverse | filter:search track by $index\" style=\"width:100%\" flex>\n\t\t\t<td ng-bind=\"item.name\"></td>\n\t\t\t<td ng-bind=\"item.age\"></td>\n\t\t\t<td ng-click=\"msg.topic='remove';msg.payload = item;send(msg);\"><i class=\"material-icons\">delete</i></td>\n\t\t</tr>\n\t</tbody>\n</table>\n</body></html>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":940,"y":180,"wires":[["2079caf5.2cf03e"]]},{"id":"60a70662.8282b","type":"mongodb2 in","z":"22918c0f.6499fc","service":"_ext_","configNode":"f6a20c00.1ac04","name":"","collection":"people","operation":"aggregate.toArray","x":490,"y":180,"wires":[["f105322e.3e1de8"]]},{"id":"f105322e.3e1de8","type":"function","z":"22918c0f.6499fc","name":"List","func":"msg.list = msg.payload\n//Remove internal mongo DB id\nmsg.list.forEach(function(item){\n    delete item._id    \n})\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["7b3891e.09b577"]]},{"id":"371b8b74.4ddb9c","type":"ui_button","z":"26877e36.3457f2","name":"","group":"5c8bfe63.32d378","order":1,"width":0,"height":0,"passthru":false,"label":"Snapshot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":160,"wires":[["bb07dd01.80108"]]},{"id":"bb07dd01.80108","type":"device","z":"26877e36.3457f2","name":"","account":"cd567b73.61fc98","address":"","action":"Image","data":"resolution=640x360","output":"base64","x":390,"y":160,"wires":[["6cc9e852.665318"]]},{"id":"6cc9e852.665318","type":"ui_template","z":"26877e36.3457f2","group":"5c8bfe63.32d378","name":"image","order":2,"width":"13","height":"8","format":"<img src=\"data:image/jpeg;base64,{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":160,"wires":[[]]},{"id":"a2489e26.dbc14","type":"ui_dropdown","z":"26877e36.3457f2","name":"","label":"","tooltip":"","place":"Select property group","group":"1c78a8a0.c3c2f7","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Network","value":"network","type":"str"},{"label":"System","value":"system","type":"str"},{"label":"Brand","value":"brand","type":"str"},{"label":"Properties","value":"properties","type":"str"},{"label":"Image","value":"image","type":"str"},{"label":"Image Source","value":"imagesource","type":"str"}],"payload":"","topic":"","x":180,"y":220,"wires":[["c53f79c8.fe7d58"]]},{"id":"94a11b4b.850478","type":"ui_template","z":"26877e36.3457f2","group":"1c78a8a0.c3c2f7","name":"","order":2,"width":"10","height":"14","format":" <textarea rows=\"45\" cols=\"28\">\n{{msg.payload}}\n</textarea> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":220,"wires":[[]]},{"id":"2e4f2b3d.a3d0ac","type":"device","z":"26877e36.3457f2","name":"","account":"cd567b73.61fc98","address":"","action":"Get Properties","data":"","output":"json","x":560,"y":220,"wires":[["6b5b5fc2.8b909"]]},{"id":"c53f79c8.fe7d58","type":"function","z":"26877e36.3457f2","name":"Set group","func":"msg.data = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["2e4f2b3d.a3d0ac"]]},{"id":"6b5b5fc2.8b909","type":"function","z":"26877e36.3457f2","name":"JSON pretty print","func":"msg.payload = JSON.stringify(msg.payload,null,4);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["94a11b4b.850478"]]},{"id":"95871035.d2f958","type":"ui_text_input","z":"26877e36.3457f2","name":"","label":"Text Overlay","tooltip":"","group":"28e6dcdf.4469ac","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":190,"y":280,"wires":[["b84e1a46.54fb1"]]},{"id":"e9dc6ae4.d2f9a","type":"ui_slider","z":"26877e36.3457f2","name":"","label":"Color Level","tooltip":"","group":"28e6dcdf.4469ac","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"10","x":190,"y":340,"wires":[["2e900544.e3b402"]]},{"id":"c0b4c5d0.ac8e58","type":"device","z":"26877e36.3457f2","name":"","account":"cd567b73.61fc98","address":"","action":"Set Properties","data":"imagesource.I0.sensor","output":"json","x":560,"y":340,"wires":[["1767960.31ccc6a"]]},{"id":"2e900544.e3b402","type":"function","z":"26877e36.3457f2","name":"ColorLevel","func":"msg.payload = {\n    colorlevel: parseInt(msg.payload)\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["c0b4c5d0.ac8e58"]]},{"id":"573747b9.72df3","type":"link in","z":"26877e36.3457f2","name":"Refres Image","links":["1767960.31ccc6a","91502547.daed4"],"x":295,"y":120,"wires":[["bb07dd01.80108"]]},{"id":"7042fa87.1cbe0c","type":"comment","z":"26877e36.3457f2","name":"Refresh Image","info":"","x":200,"y":120,"wires":[]},{"id":"1767960.31ccc6a","type":"link out","z":"26877e36.3457f2","name":"","links":["573747b9.72df3"],"x":695,"y":340,"wires":[]},{"id":"fac0e7bb.e3084","type":"comment","z":"26877e36.3457f2","name":"Refresh Image","info":"","x":800,"y":340,"wires":[]},{"id":"b84e1a46.54fb1","type":"function","z":"26877e36.3457f2","name":"Text Overlay","func":"msg.payload = {\n    BGColor: \"black\",\n    ClockEnabled: true,\n    Color: \"white\",\n    DateEnabled: true,\n    Position: \"top\",\n    String: msg.payload,\n    TextEnabled: true,\n    TextSize: \"medium\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["4df9a8c3.91c538"]]},{"id":"4df9a8c3.91c538","type":"device","z":"26877e36.3457f2","name":"","account":"cd567b73.61fc98","address":"","action":"Set Properties","data":"image.I0.text","output":"json","x":560,"y":280,"wires":[["91502547.daed4"]]},{"id":"91502547.daed4","type":"link out","z":"26877e36.3457f2","name":"","links":["573747b9.72df3"],"x":695,"y":280,"wires":[]},{"id":"6853e589.4f6ce4","type":"comment","z":"26877e36.3457f2","name":"Refresh Image","info":"","x":800,"y":280,"wires":[]},{"id":"76ff0372.b3f724","type":"http in","z":"5a574758.0a7538","name":"","url":"/people","method":"get","upload":false,"swaggerDoc":"","x":180,"y":60,"wires":[["d7a4af94.3e5648"]]},{"id":"d7a4af94.3e5648","type":"mongodb2 in","z":"5a574758.0a7538","service":"_ext_","configNode":"f6a20c00.1ac04","name":"","collection":"people","operation":"aggregate.toArray","x":500,"y":60,"wires":[["6b2a79b3.90368"]]},{"id":"9faa011e.b25b2","type":"http response","z":"5a574758.0a7538","name":"","statusCode":"","headers":{},"x":1030,"y":60,"wires":[]},{"id":"2079caf5.2cf03e","type":"function","z":"22918c0f.6499fc","name":"Remove?","func":"if(msg.topic !== \"remove\")\n    return;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["220e0ad7.983b7e","85e1887e.242018"]]},{"id":"220e0ad7.983b7e","type":"mongodb2 in","z":"22918c0f.6499fc","service":"_ext_","configNode":"f6a20c00.1ac04","name":"","collection":"people","operation":"removeOne","x":630,"y":240,"wires":[["b5c1d19d.b3b41"]]},{"id":"681238af.dc441","type":"link in","z":"22918c0f.6499fc","name":"","links":["b5c1d19d.b3b41"],"x":195,"y":140,"wires":[["60a70662.8282b"]]},{"id":"b5c1d19d.b3b41","type":"link out","z":"22918c0f.6499fc","name":"","links":["681238af.dc441"],"x":875,"y":240,"wires":[]},{"id":"85e1887e.242018","type":"debug","z":"22918c0f.6499fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":300,"wires":[]},{"id":"d33a2221.358e38","type":"function","z":"22918c0f.6499fc","name":"Add own ID","func":"msg.payload.id = new Date().getTime()\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["e8b2dac.c41cc28"]]},{"id":"6b2a79b3.90368","type":"function","z":"5a574758.0a7538","name":"Remove Internal ID","func":"\nmsg.payload.forEach(function(item){\n    delete item._id    \n})\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":60,"wires":[["9faa011e.b25b2"]]},{"id":"b5ecc077.dd866","type":"comment","z":"26877e36.3457f2","name":"Note:  You have to set you cameras address on each yellow Axis Device node below.  You also have to set Account credentials.","info":"","x":550,"y":60,"wires":[]}]