nodered/flows.json
[{"id":"923fe3cf.4b9168","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"ab91abed.7273d8","type":"mqtt-broker","z":"","name":"Local Broker","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afa4381c.92f73","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"83b46ce5.453058","type":"ui_group","z":"","name":"Publish","tab":"afa4381c.92f73","disp":true,"width":"6","collapse":false},{"id":"cce4f66d.3b3e68","type":"ui_group","z":"","name":"Subscription #","tab":"afa4381c.92f73","disp":true,"width":"12","collapse":false},{"id":"f8ef6db9.7a25","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"94512006.9a9dc","type":"mqtt out","z":"923fe3cf.4b9168","name":"","topic":"","qos":"","retain":"","broker":"ab91abed.7273d8","x":470,"y":80,"wires":[]},{"id":"6d143fab.5828b8","type":"mqtt in","z":"923fe3cf.4b9168","name":"","topic":"#","qos":"2","datatype":"auto","broker":"ab91abed.7273d8","x":150,"y":140,"wires":[["21aeb95d.043ee6"]]},{"id":"150e33af.b2007c","type":"ui_form","z":"923fe3cf.4b9168","name":"","label":"","group":"83b46ce5.453058","order":0,"width":0,"height":0,"options":[{"label":"Topic","value":"topic","type":"text","required":true,"rows":null},{"label":"Payload","value":"payload","type":"text","required":true,"rows":null}],"formValue":{"topic":"","payload":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":80,"wires":[["c4a4f740.e60d98"]]},{"id":"21aeb95d.043ee6","type":"ui_template","z":"923fe3cf.4b9168","group":"cce4f66d.3b3e68","name":"","order":1,"width":"12","height":"11","format":"<div ng-bind-html=\"msg.topic\"></div>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":380,"y":140,"wires":[[]]},{"id":"c4a4f740.e60d98","type":"function","z":"923fe3cf.4b9168","name":"Parse","func":"msg.topic = msg.payload.topic\nmsg.payload = msg.payload.payload\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["94512006.9a9dc"]]}]