nodered/node_modules/node-red-axis/exmple_flows.json
[{"id":"359edb9.c10d324","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1180,"wires":[["bc37ca51.21654"]]},{"id":"da409c3e.8097e8","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1180,"wires":[]},{"id":"bc37ca51.21654","type":"device","z":"c8e37008.5bbc7","name":"","address":"back.juhlin.me","action":"Install_ACAP","data":"/home/pi/files/EventList_1_0_lua.eap","x":360,"y":1180,"wires":[["da409c3e.8097e8"]]},{"id":"3ff415fb.3f1bd2","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":940,"wires":[["9cffa5b0.6034d8"]]},{"id":"de25bc6e.cda818","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":940,"wires":[]},{"id":"9cffa5b0.6034d8","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"Get_Properties","data":"image.I0.text","x":370,"y":940,"wires":[["de25bc6e.cda818"]]},{"id":"887feb16.5a8d08","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["6c5731f.beccb5"]]},{"id":"6c5731f.beccb5","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"Image","data":"resolution=640x360","x":340,"y":880,"wires":[["75d7f494.c5b824"]]},{"id":"ea45bf42.f287b8","type":"ui_template","z":"c8e37008.5bbc7","group":"e738f8e8.56e17","name":"","order":0,"width":"12","height":"8","format":"<img src=\"data:image/jpeg;base64, {{msg.payload}}\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":880,"wires":[[]]},{"id":"75d7f494.c5b824","type":"base64","z":"c8e37008.5bbc7","name":"","action":"","property":"payload","x":540,"y":880,"wires":[["ea45bf42.f287b8"]]},{"id":"efc90add.743008","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1240,"wires":[["2ef1e1e4.a527be"]]},{"id":"2ef1e1e4.a527be","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"Restart","data":"","x":340,"y":1240,"wires":[["b0fae5a5.f8d79"]]},{"id":"b0fae5a5.f8d79","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1240,"wires":[]},{"id":"8d2fb159.be48c8","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1040,"wires":[["eef3a7b6.04d428"]]},{"id":"eef3a7b6.04d428","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"List_Accounts","data":"","x":370,"y":1040,"wires":[["952a58b3.b5038"]]},{"id":"952a58b3.b5038","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1040,"wires":[]},{"id":"9e3cdfa0.437c08","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1140,"wires":[["70da389e.c148d"]]},{"id":"70da389e.c148d","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"List_ACAP","data":"","x":350,"y":1140,"wires":[["a1001d14.66b188"]]},{"id":"a1001d14.66b188","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1140,"wires":[]},{"id":"9f6e9620.c2ec08","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1300,"wires":[["b2b5a2bf.2950d"]]},{"id":"b2b5a2bf.2950d","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"List_Events","data":"","x":360,"y":1300,"wires":[["23f82521.d552ca"]]},{"id":"23f82521.d552ca","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1300,"wires":[]},{"id":"d12cefd6.9d42d","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"Set_Properties","data":"image.I0.text","x":630,"y":980,"wires":[["9f40be0b.4aba4"]]},{"id":"d66d18fc.18cfa","type":"function","z":"c8e37008.5bbc7","name":"Text Overlay Settings","func":"msg.payload = {\n    BGColor:\"black\",\n    Color:\"white\",\n    Position:\"top\",\n    String:\"%Y-%m-%d %H:%M:%S #D\",\n    TextEnabled:true,\n    TextSize:\"medium\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":980,"wires":[["d12cefd6.9d42d"]]},{"id":"fb6d0a3c.b6b508","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":980,"wires":[["d66d18fc.18cfa"]]},{"id":"9f40be0b.4aba4","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":980,"wires":[]},{"id":"4579e529.dfce04","type":"device","z":"c8e37008.5bbc7","name":"","address":"","action":"Set_Account","data":"","x":620,"y":1080,"wires":[["fb1661d2.fe357"]]},{"id":"b193ea82.59fcd8","type":"function","z":"c8e37008.5bbc7","name":"Device Account","func":"msg.payload = {\n    account:\"test\",\n    password:\"Some Password\",\n    privileges:\"Administrator\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1080,"wires":[["4579e529.dfce04"]]},{"id":"ed022c32.f9e2c8","type":"inject","z":"c8e37008.5bbc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1080,"wires":[["b193ea82.59fcd8"]]},{"id":"fb1661d2.fe357","type":"debug","z":"c8e37008.5bbc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":1080,"wires":[]},{"id":"e738f8e8.56e17","type":"ui_group","z":"","name":"Image","tab":"a139c709.c331f","disp":true,"width":"12","collapse":false},{"id":"a139c709.c331f","type":"ui_tab","z":"","name":"Vapix","icon":"dashboard","disabled":false,"hidden":false}]
